@font-face {
  font-family: 'THSarabunPSK';
  src: url({#asset ./data/font/THSarabunPSK.ttf @encoding=dataURI});
  format('truetype');
}

@font-face {
  font-family: 'THSarabunPSK-Bold';
  src: url({#asset ./data/font/THSarabunPSK-Bold.ttf @encoding=dataURI});
  format('truetype');
}

body {
    font-family: 'THSarabunPSK';
    font-size: 14pt;
}

table, td, th {
  border: 2px solid;
  border-color: lightgray;
}

table > tbody > tr > td {
  font-family: 'THSarabunPSK';
  font-size: 14pt;
  padding-left: 2px;
  padding-right: 2px;
}

table {
  font-family: 'THSarabunPSK';
  width: 100%;
  border-collapse: collapse;
  font-size: 14pt;
  page-break-inside:auto;
}

tr {
  page-break-inside:auto;
}

th > div {
  font-family: 'THSarabunPSK-Bold';
  font-size: 14pt;
  display: flex;
  justify-content: center;
  height: 45px;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

th {
  background-color: whitesmoke;
}

.table-panel {
  position: relative;
  top: 250px;
}

.graph-panel {
  position: relative;
  top: 250px;
  border: 2px solid;
  border-color: lightgray;
  width: 100%;
  height: 550px;
}

.border {
  border: 2px solid;
  border-color: lightgray;
}

.sum-row {
  font-family: 'THSarabunPSK-Bold';
}

@media print{@page {size: landscape}}