.goodCategoryGroup {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */
    
    
    /* Second */
    
    color: #F3B922;
}