<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GCS01</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>{#asset GCS.css @encoding=utf8}</style>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row my-3">
        <div class="col-12 d-flex justify-content-center">
          <table style="width: 60%">
            <thead>
              <tr>
                <th rowspan="2" style="width: 50%">
                  <div>ผู้ประกอบการ</div>
                </th>
                <th rowspan="2" style="width: 50%">
                  <div >เวลาเฉลี่ย (ชม.นาที)</div>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each reportData}}
              <tr>
                <td>
                  <div class="d-flex justify-content-start">{{this.Operator}}</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">{{numberFormatter this.NCount this.MinUsed}}</div>
                </td>
              </tr>
              {{/each}}
              {{#with (SUM reportData)}}
              <tr>
                <td>
                  <div class="d-flex justify-content-start sum-row">เวลาเฉลี่ยรวม</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end sum-row">{{0}}</div>
                </td>
              </tr>
              {{/with}}
            </tbody>
          </table>
        </div>
      </div>
    </div>    
    <div style="page-break-before: always;"></div>
    <div class="container-fluid">
      <div class="row my-3 mx-2">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div id="chart1"></div>
        </div>
      </div>
    </div>
    {#asset /GCS11/GCS11-chart.js @encoding=utf8}
  </body>
</html>