<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GCS01</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>{#asset /GCS01/GCS01.css @encoding=utf8}</style>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
          <table>
            <thead>
              <tr>
                <th style="width: 30%;">
                  <div>ผู้ประกอบการ</div>
                </th>
                <th style="width: 15%;">
                  <div>จุดต้นทาง</div>
                </th>
                <th style="width: 15%;">
                  <div>จุดปลายทาง</div>
                </th>
                <th style="width: 20%;">
                  <div>ประเภทสินค้า</div>
                </th>
                <th style="width: 10%;">
                  <div>ปริมาณ (ตัน)</div>
                </th>
                <th style="width: 10%;">
                  <div>จำนวนเที่ยว</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="5">
                  <div class="d-flex justify-content-start pl-2">บริษัท พยัคฆ์ขนส่ง จำกัด</div>
                  <div>
                      <ul>
                          <li>ประเภทการขนส่ง ไม่ประจำทาง</li>
                          <li>เลขที่ใบอนุญาต ในประเทศ 0575540000361</li>
                      </ul>
                  </div>
                </td>
                <td rowspan="4">
                  <div class="d-flex justify-content-start pl-2">กรุงเทพมหานคร</div>
                </td>
                <td rowspan="4">
                  <div class="d-flex justify-content-start pl-2">เชียงราย</div>
                </td>
                <td>
                  <div class="d-flex justify-content-start pl-2">ผลิตภัณฑ์น้ำมันเชื้อเพลิง</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">2</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">ผลิตภัณฑ์มันสำปะหลัง</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">2</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">วัสดุก่อสร้าง</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">2</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">หิน ดิน ทราย</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">2</div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="d-flex justify-content-end pr-2">รวมทั้งสิ้น</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">0.00</div>
                </td>
                <td>
                  <div class="d-flex justify-content-end pr-2">8</div>
                </td>
              </tr>
              {{!-- <tr>
                <td>
                  <div></div>
                </td>
                <td>
                  <div></div>
                </td>
                <td>
                  <div></div>
                </td>
              </tr> --}}
            </tbody>
          </table>
        </div>
      </div>    
    </div>
  </body>
</html>