<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GCS01</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>{#asset GCS.css @encoding=utf8}</style>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row my-3">
        <div class="col-12 table-panel d-flex justify-content-center">
          <table style="width: 100%">
            <thead>
              <tr>
                <th rowspan="2" style="width: 35%">
                  <div>ผู้ประกอบการ</div>
                </th>
                <th style="width: 11%">
                  <div>รถเข้า</div>
                </th>
                <th colspan="3">
                  <div>รถออก</div>
                </th>
                <th rowspan="2" style="width: 12%">
                  <div>แปลทะเบียนผิด หรือรถยังไม่ออก หรือรถออกประตูหลัง (คัน)</div>
                </th>
                <th rowspan="2" style="width: 10%">
                  <div>บันทึกข้อมูล ย้อนหลัง (คัน)</div>
                </th>
              </tr>
              <tr>
                <th>
                  <div>รถที่บันทึกข้อมูล (คัน)</div>
                </th>
                <th style="width: 11%">
                  <div>รถบรรทุกทั้งหมด (คัน)</div>
                </th>
                <th style="width: 11%">
                  <div>รถที่บันทึกข้อมูล (คัน)</div>
                </th>
                <th style="width: 13%">
                  <div>รถที่ไม่บันทึกข้อมูล (คัน)</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">บริษัท พงษ์ศิริ โลจิสติกส์ จำกัด</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">78</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">0</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">0</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">0</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">0</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">0</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>