<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GCS01</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>{#asset GCS.css @encoding=utf8}</style>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row my-3">
        <div class="col-12 table-panel d-flex justify-content-center">
          <table style="width: 100%">
            <thead>
              <tr>
                <th rowspan="2" style="width: 5%">
                  <div>วันที่</div>
                </th>
                <th colspan="14" style="width: 95%">
                  <div>จำนวนรถรับส่งสินค้าแต่ละประเภท (คัน)</div>
                </th>
              </tr>
              <tr>
                <th>
                  <div>หิน ดิน ทราย</div>
                </th>
                <th>
                  <div>วัสดุก่อสร้าง</div>
                </th>
                <th>
                  <div>ซีเมนต์</div>
                </th>
                <th>
                  <div>ข้าว</div>
                </th>
                <th>
                  <div>ผลิตภัณฑ์มันสำปะหลัง</div>
                </th>
                <th>
                  <div>ยางพารา</div>
                </th>
                <th>
                  <div>ผักสด/ผลไม้</div>
                </th>
                <th>
                  <div>อาหารแช่แข็ง</div>
                </th>
                <th>
                  <div>ผลิตภัณฑ์น้ำมันเชื้อเพลิง</div>
                </th>
                <th>
                  <div style="height: 65px;">สินค้าเบ็ดเตล็ด (โชวห่วย)</div>
                </th>
                <th>
                  <div>อ้อย</div>
                </th>
                <th>
                  <div>เคมีภัณฑ์</div>
                </th>
                <th>
                  <div>สินค้าอุตสาหกรรม (อุปกรณ์คอมพิวเตอร์)</div>
                </th>
                <th>
                  <div>สินค้าอื่นๆ</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex justify-content-start pl-2">26/10/2565</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">78</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">0</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">0</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">0</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">0</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">0</div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">0</div>
                </td><td>
                  <div class="d-flex justify-content-center">0</div>
                </td><td>
                  <div class="d-flex justify-content-center">0</div>
                </td><td>
                  <div class="d-flex justify-content-center">0</div>
                </td><td>
                  <div class="d-flex justify-content-center">0</div>
                </td><td>
                  <div class="d-flex justify-content-center">0</div>
                </td><td>
                  <div class="d-flex justify-content-center">0</div>
                </td><td>
                  <div class="d-flex justify-content-center">0</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>